﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;  
}
body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-gap: 50px;
    grid-template-areas:
        "article"
        "filters"
        "footer"
}
    .grid div.books {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .grid div.booksFilters {
        display: grid;
        grid-template-columns: 1fr;
    }
.footerNext {
margin-left:500px;
margin-bottom:100px;
}
filters{
grid-area:filters;
}
article {
    grid-area: article;
}
footer  {
grid-area:footer;
}
@media(min-width:500px) {
    .grid {
    grid-template-columns:1fr 3fr;
    grid-template-areas:
        "filters article"
        "footer footer"
    }
}



