﻿@model string
@{ 
    ViewData["Title"] = "Добавление роли";
}
<form asp-action="CreateRole" asp-controller="Roles" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label for="name" class="control-label">Название</label>
        <input type="text" name="name" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Добавить" class="btn btn-outline-secondary" />
    </div>
</form>
