﻿@using Microsoft.AspNetCore.Identity
@model Library.ViewModels.ChangeUserRoleViewModel
@{ 
    ViewData["Title"] = "Роль пользователя";
}

<form asp-action="EditUserRole" method="post">
    <input type="hidden" name="userId" value="@Model.Id" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name" @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name<br />
        }
    </div>
    <div class="form-group">
        <input type="submit" value="Изменить" class="btn btn-outline-secondary" />
    </div>
</form>