﻿@model IEnumerable<Library.ViewModels.RolesListViewModel>
@{
    ViewData["Title"] = "Список ролей";
}
<h2>Список ролей</h2>
<a class="btn btn-sm btn-primary" asp-action="CreateRole">Добавить роль</a>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Роль</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.RoleName)
            </td>
            <td>
                <form asp-action="DeleteRole" asp-route-id="@item.Id" method="post">                   
                    <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>