﻿@model Library.ViewModels.AuthorActionViewModel
@{ 
    ViewData["Title"] = "Добавление нового автора";
}

<div class="row">
    <div>
        <form asp-action="AddAuthor">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="AuthorName" class="custom-control-label">Автор</label>
                    <input asp-for="AuthorName" class="form-control" />
                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Добавить" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>
