﻿@model IEnumerable<Library.ViewModels.AuthorSelectListViewModel>
@{
    ViewData["Title"] = "Список авторов";
}
<h2>Список авторов</h2>
<p>
    <a asp-action="AddAuthor">Добавить автора</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var a in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem=>a.AuthorName)
                </td>
                <td>
                    <a asp-action="EditAuthor" asp-route-id="@a.AuthorId">Редактировать</a>
                    <a asp-action="DeleteAuthor" asp-route-id="@a.AuthorId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
