﻿@model Library.ViewModels.DeleteAuthorViewModel

@{
    ViewData["Title"] = "Удаление автора";
}<h3>Удалить автора?</h3>
 <div>
     <dl class="row">
         <dt class="col-sm-2">
             Автор
         </dt>
         <dd class="col-sm-10">
             @Html.DisplayFor(model => model.AuthorName)
         </dd>
     </dl>
     <p>Список книг автора:</p>
     <ul>
         @foreach (var book in Model.Books)
         {
             <li>@book.Name</li>
         }
     </ul>
     <form asp-action="DeleteAuthor">
         <input type="hidden" asp-for="Id" />
         <input type="submit" value="Удалить" class="btn btn-danger" /> |
         <a asp-action="AuthorList" class="btn btn-outline-success">Назад к списку</a>
     </form>
 </div>
