﻿@model IEnumerable<Library.ViewModels.BookingsListViewModel>
@{ 
    ViewData["Title"] = "Выданные книги";
}
    <table class="table">
        <thead>
            <tr>
                <th>
                    Дата выдачи
                </th>
                <th>
                    Название книги
                </th>
                <th>
                    Пользователь
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RecievmentTimeView)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        <a asp-action="ReturnBook" asp-route-Id="@item.Id">Книга возвращена</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
