﻿@model IEnumerable<Library.ViewModels.ReservationListViewModel>
@{ 
    ViewData["Title"] = "Список Забронированных книг";
}
<table class="table">
    <thead>
        <tr>
            <th>
                Дата бронирования
            </th>
            <th>
                Книга
            </th>
            <th>
                Пользователь
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(model => item.ReservationTimeView)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserEmail)
            </td>
            <td>
                <a asp-action="GiveBook" asp-route-Id="@item.ReservationId">Выдать книгу</a>
            </td>
        </tr>
        }
    </tbody>
</table>