﻿@using Library.ViewModels
@model AdminBookListViewModel
@{
    ViewData["Title"] = "Поиск книг";
}
<h2>Список книг</h2>
<div>
    <a asp-action="AddBook" asp-controller="Book" class="bnt">Добавить книгу</a>
</div>

<div>
    <section class="catalog-filters">
        <form method="get" asp-action="BookList" asp-controller="Book">
            <label asp-for="BooksFilterViewModel.SearchString">Название</label>
            <input name="_SearchString" class="form-control" value="@Model.BooksFilterViewModel.SearchString" /><br />

            <label asp-for="BooksFilterViewModel.Authors">Автор</label>
            @Html.DropDownList("_AuthorId", Model.BooksFilterViewModel.Authors)

            <label asp-for="BooksFilterViewModel.Publishers">Издатель</label>
            @Html.DropDownList("_PublisherId", Model.BooksFilterViewModel.Publishers)

            <label asp-for="BooksFilterViewModel.Genres">Жанр</label>
            @Html.DropDownList("_GenreId", Model.BooksFilterViewModel.Genres)

            <input class="bnt btn-online-primary" type="submit" value="Фильтр" />
        </form>
    </section>
    <div id="searchresults">
        <table class="table">
            <tr>
                <th>
                    Название книги
                </th>
                <th>
                    Автор
                </th>
                <th>
                    Жанр
                </th>
                <th>
                    Издатель
                </th>
            </tr>
            @foreach (var b in Model.Books)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(item => b.NameBook)
                    </td>
                    <td>
                        @Html.DisplayFor(item => b.AuthorName)
                    </td>
                    <td>
                        @Html.DisplayFor(item => b.GenreName)
                    </td>
                    <td>
                        @Html.DisplayFor(item => b.PublisherName)
                    </td>
                    <td>
                        @Html.ActionLink("Редактировать", "EditBook", new { id = b.Id }) |
                        @Html.ActionLink("Удалить", "DeleteBook", new { id = b.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>


