﻿@model Library.ViewModels.DeleteBookViewModel
@{ 
    ViewData["Title"] = "Удаление книги";
}
    <div>
        <label asp-for="BookName">Название</label>
        <strong>@Model.BookName</strong><br />
        <label asp-for="AuthorName">Автор</label>
        <strong>@Model.AuthorName</strong><br />
        <label asp-for="GenreName">Жанр</label>
        <strong>@Model.GenreName</strong><br />
        <label asp-for="PublisherName">Издатель</label>
        <strong>@Model.PublisherName</strong>
        <form method="post">
            <input type="hidden" asp-for="BookId" />
            <input type="submit" value="Удалить" class="bnt btn-online-primary" />
        </form>
    </div>
