﻿@model Library.ViewModels.AddBookViewModel
@{
    ViewData["Title"] = "Редактирование книги";
}
<h1>Редактирование книги</h1>
@using (Html.BeginForm()) {
@Html.HiddenFor(m => Model.BookId);
@Html.ValidationSummary(true)
<p>Название книги:</p>
@Html.EditorFor(model => model.Name)
@Html.ValidationMessageFor(model => model.Name)
<p>Автор:</p>
<p>@Html.RadioButton("isNewAuthor", true) Добавить нового автора</p>
<p>@Html.RadioButton("isNewAuthor", false) Выбрать автора из списка</p>
<div class="editor-field">
    @Html.EditorFor(model => model.AuthorName)
    @Html.ValidationMessageFor(model => model.AuthorName)
</div>
<div class="editor-field">
    @Html.DropDownList("AuthorId", Model.Authors as SelectList)
</div>

<p>Жанр:</p>
<p>@Html.RadioButton("isNewGenre", true) Добавить новый жанр</p>
<p>@Html.RadioButton("isNewGenre", false) Выбрать жанр из списка</p>
<div class="editor-field">
    @Html.EditorFor(model => model.GenreName)
    @Html.ValidationMessageFor(model => model.GenreName)
</div>
@Html.DropDownList("GenreId", Model.Genres as SelectList)

<p>Издатель:</p>
<p>@Html.RadioButton("isNewPublisher", true) Добавить нового издателя</p>
<p>@Html.RadioButton("isNewPublisher", false) Выбрать издателя из списка</p>
<div class="editor-field">
    @Html.EditorFor(model => model.PublisherName)
    @Html.ValidationMessageFor(model => model.PublisherName)
</div>
@Html.DropDownList("PublisherId", Model.Publishers as SelectList)

<input type="submit" value="Сохранить" />
}
<div>
    @Html.ActionLink("Список книг", "BookList")
</div>