﻿@model Genre
@{ 
    ViewData["Title"] = "Добавление жанра";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateGenre">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="GenreName" class="custom-control-label">Жанр</label>
        <input asp-for="GenreName" class="form-control"/>
            <span asp-validation-for="GenreName" class="text-danger"></span>
        </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>