﻿@model Library.ViewModels.GenreSelectListViewModel
@{ 
    ViewData["Title"] = "Удаление жанра";
}
<div>
    <dl class="row">
        <dt class="col-sm-2">
            Жанр
        </dt>
        <dd class="col-sm-2">
            Жанр
        </dd>
    </dl>
    <form asp-action="DeleteGenre">
        <input type="hidden" asp-for="GenreId" />
        <input type="submit" value="Удалить" class="btn btn-danger" />
    </form>
    <a asp-action="GenreList" class="btn btn-outline-success">Назад к списку</a>
</div>
