﻿@model Library.ViewModels.GenreActionViewModel
@{ 
    ViewData["Title"] = "Редактирование жанра";
}
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditGenre">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
              <input type="hidden" asp-for="Id"/>
                <div class="form-group">
                    <label asp-for="GenreName" class="custom-control-label"></label>
                    <input asp-for="GenreName" class="form-control"/>
                    <span asp-validation-for="GenreName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                    <a asp-action="GenreList" class="btn btn-outline-success">Назад к списку</a>
                </div>        
        </form>
    </div>
</div>
<div>
    <a asp-action="GenreList">Список жанров</a>
</div>
