﻿@model IEnumerable<Genre>

@{ 
    ViewData["Title"] = "Список жанров";
}
<h2>Список жанров</h2>
<p>
    <a asp-action="CreateGenre">Добавить жанр</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <p>Жанр</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(model => item.GenreName)</td>
            <td>
                <a asp-action="EditGenre" asp-route-id="@item.GenreId">Редактировать</a>
                <a asp-action="DeleteGenre" asp-route-id="@item.GenreId">Удалить</a>
            </td>
        </tr>
        }
    </tbody>
</table>