﻿@model Library.ViewModels.ReservationViewModel
@{ 
    ViewData["Title"] = "Отмена бронирования";
}
<h2>Отмена бронирования</h2>
@using (Html.BeginForm())
{
    <input type="hidden" asp-for="ReservationId" name="id"/>
    <input type="submit" value="Отменить"/>
}