﻿@model Library.ViewModels.MyPageViewModel
@{ 
    ViewData["Title"] = "Мои книги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Мои книги</title>
</head>
<body>
    <div>
        <h2>Выданные книги</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Книга </th>
                    <th>Дата выдачи </th>
                    <th>Вернуть до</th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var booking in Model.Bookings)
                    {
                        {
                            <tr>
                                <td>@booking.BookName</td>
                                <td>@booking.RecievmentTimeView</td>
                                <td>@booking.RecievmentTimeView.AddDays(14)</td>
                            </tr>
                        }
                    }
                }

            </tbody>
        </table>
        <h2>Забронированные книги</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Книга </th>
                    <th>Дата бронирования </th>
                    <th>Забронировано до</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var reservation in Model.Reservations)
                    {
                        <tr>
                            <td>@reservation.BookName</td>
                            <td>@reservation.ReservationTimeView</td>
                            <td>@reservation.ReservationTimeView.AddDays(3)</td>
                            <td><a href="/Reservation/CancelBooking/@reservation.ReservationId">Отменить бронирование</a></td>
                        </tr>
                        <tr></tr>
                        <tr></tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>