﻿@model Library.ViewModels.PublisherSelectListViewModel
@{
    ViewData["Title"] = "Добавление издателя";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPublisher">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PublisherName" class="control-label">Издатель</label>
                <input asp-for="PublisherName" class="form-control" />
                <span asp-validation-for="PublisherName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Добавить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

