﻿@model Library.ViewModels.PublisherSelectListViewModel
@{
    ViewData["Title"] = "Удаление издателя";
}
<h3>Удаление издателя</h3>
<div>
    <h4>Publisher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Издатель
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PublisherName)
        </dd>
    </dl>

    <form asp-action="DeletePublisher">
        <input type="hidden" asp-for="PublisherId" />
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a asp-action="PublisherList" class="btn btn-outline-success">Назад к списку</a>
    </form>
</div>