﻿@model Library.ViewModels.PublisherSelectListViewModel

@{
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="EditPublisher">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PublisherId" />
                <div class="form-group">
                    <label asp-for="PublisherName" class="control-label"></label>
                    <input asp-for="PublisherName" class="form-control" />
                    <span asp-validation-for="PublisherName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="PublisherList">Список издателей</a>
    </div>

}
