﻿@model IEnumerable<Library.ViewModels.PublisherSelectListViewModel>
@{
    ViewData["Title"] = "Список издателей";
}
<h2>Список издателй</h2>
<p>
    <a asp-action="AddPublisher">Добавить издателя</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               <p>Издатель</p>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model=>item.PublisherName)
                </td>
                <td>
                    <a asp-action="EditPublisher" asp-route-id="@item.PublisherId">Редактировать</a>
                    <a asp-action="DeletePublisher" asp-route-id="@item.PublisherId">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

