﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>@ViewData["Title"]-Библиотека</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand text-light" asp-area="" asp-controller="Catalog" asp-action="BooksList">Библиотека</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Catalog" asp-action="BooksList">Каталог</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Reservation" asp-action="MyReservations">Мои книги</a>
                        </li>
                        @if (this.User.IsInRole("admin"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Admin" asp-action="UsersList">Работа с пользователями</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-controller="Roles" asp-action="RolesList">Список ролей</a>
                            </li>
                        }
                        @if (this.User.IsInRole("librarian"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-action="AuthorList" asp-controller="Author">Авторы</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-action="GenreList" asp-controller="Genre">Жанры</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-action="PublisherList" asp-controller="Publisher">Издатели</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a id="drop1" href="#" class="nav-link dropdown-toggle text-light" data-toggle="dropdown">
                                    Работа с книгами
                                    <span class="caret"></span>
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-action="BookList" asp-controller="Book">Список книг</a>
                                    <a class="dropdown-item" asp-action="ReservationList" asp-controller="Librarian">Забронированные книги</a>
                                    <a class="dropdown-item" asp-action="BookingList" asp-controller="Librarian">Выданные книги</a>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <partial name="_LoginPartial">
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
