﻿@using Microsoft.AspNetCore.Identity
@if (User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col">
                <text class="text-light">@(User.Identity.Name)</text>
            </div>
            <div class="col">
                <a class="btn btn-outline-secondary text-light" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
            </div>
        </div>
    }
    else
    {
        <ul class="navbar navbar-nav navbar-right">
            <li>
                <a class="btn text-dark" style="background: #ffffff" asp-action="Login" asp-controller="Account">Войти</a>
            </li>
            <li>
                <a class="btn text-dark" style="margin-left:20px; background: #ffffff" asp-action="Register" asp-controller="Account">Регистрация</a>
            </li>
        </ul>
    }
