﻿@model Library.ViewModels.CatalogViewModel;
@{
    ViewData["Title"] = "Каталог";
}
@if (Model.User == null)
{
    <p style="color:red">Авторизуйтесь, чтобы иметь возможность бронировать книги</p>
}
<div class="grid">
    <div class="booksFilters">
        <form method="get" asp-action="BooksList">
            <filters>
                <label>Название: </label>
                <input name="SearchString" style="width:200px" class="form-control" value="@Model.BooksFilterViewModel.SearchString" /><br />
                <label>Автор: </label>
                <select name="AuthorId" style="width:200px" class="form-control" asp-items="@Model.BooksFilterViewModel.Authors"></select><br />
                <label>Жанр: </label>
                <select name="GenreId" style="width:200px" class="form-control" asp-items="@Model.BooksFilterViewModel.Genres"></select><br />
                <label>Издатель: </label>
                <select name="PublisherId" style="width:200px" class="form-control" asp-items="@Model.BooksFilterViewModel.Publishers"></select><br />
                <input type="submit" value="Фильтр" class="btn btn-outline-dark" />
            </filters>
        </form>
    </div>
    <div class="books">
        @foreach (var book in Model.Books)
        {
            <div>
                <article>
                    <img src="~/Images/@book.Picture" width="200" height="250" alt="Изображение книги" />
                    <text>
                        Название: @book.NameBook<br />
                        Автор: @book.AuthorName<br />
                        Жанр: @book.GenreName <br />
                        Издательство: @book.PublisherName
                    </text>
                    <br />
                    @if (Model.User != null && Model.User.EmailConfirmed)
                    {
                        if (book.IsAvailable)
                        {
                            <a class="btn btn-outline-primary" href="/Catalog/ReserveBook?BookId=@book.Id&UserId=@Model.User.Id">Бронировать</a>
                        }
                        else
                        {
                            <p>Бронирование не доступно</p>
                            if (Model.User.Subscriptions.FirstOrDefault(s => s.BookId == book.Id) == null || Model.User.Subscriptions == null)
                            {
                                <a class="btn btn-outline-primary" href="/Catalog/SubscribeBook?BookId=@book.Id&UserId=@Model.User.Id">Подписаться на обновления</a>
                            }
                        }
                    }


                    else if (Model.User != null && !Model.User.EmailConfirmed)
                    {
                        <p>Перейдите по ссылке в письме вышленном на Вашу почту для завершения регистрации</p>
                    }
                    <div class="dropdown-divider"></div>
                </article>
            </div>
        }
    </div>

    <footer class="">
        <div>
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-action="BooksList"
                   asp-route-page="@(Model.PageViewModel.PageNumber-1)"
                   asp-route-SearchString="@(Model.BooksFilterViewModel.SearchString)"
                   asp-route-AuthorId="@(Model.BooksFilterViewModel.SelectedAuthor)"
                   asp-route-GenreId="@(Model.BooksFilterViewModel.SelectedGenre)"
                   asp-route-PublisherId="@(Model.BooksFilterViewModel.SelectedPublisher)"
                   class="btn btn-outline-dark">
                    <i class="dropdown-menu-lg-left"></i>
                    Назад
                </a>
            }
        </div>
        <div>
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="BooksList"
                   asp-route-page="@(Model.PageViewModel.PageNumber+1)"
                   asp-route-SearchString="@(Model.BooksFilterViewModel.SearchString)"
                   asp-route-AuthorId="@(Model.BooksFilterViewModel.SelectedAuthor)"
                   asp-route-GenreId="@(Model.BooksFilterViewModel.SelectedGenre)"
                   asp-route-PublisherId="@(Model.BooksFilterViewModel.SelectedPublisher)"
                   class="btn btn-outline-dark">
                    <i class="dropdown-menu-lg-right"></i>
                    Вперед
                </a>
            }
        </div>
    </footer>
</div>