﻿@model Library.ViewModels.BookSelectViewModel
@{
    ViewData["Title"] = "";
}
<h2>Вы зарезервировали книгу "@Model.NameBook".</h2>
<p>Вы можете забрать зарезервированную книгу в библиотеке в течение трёх дней</p>
@Html.ActionLink("Вернуться к каталогу", "BooksList","Catalog")
@Html.ActionLink("Мои книги", "MyReservations", "Reservation")