﻿@model Library.ViewModels.ForgotPasswordViewModel
@{ 
    ViewData["Title"] = "Восстановление пароля";
}

<h2>@ViewData["Title"]</h2>
<form asp-controller="Account" asp-action="ForgotPassword" method="post">
    <h4>Введите email</h4>
    <hr />
    <div asp-validation-summary="All" class="text-danger"></div>
<div class="form-group">
    <label asp-for="Email" class="col-md-2 custom-control-label"></label>
    <div class="col-md-10">
        <input asp-for="Email" style="width:400px" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</div>
    <div class="form-group">
        <div class="col-md-10">
            <button type="submit" class="btn btn-primary">Отправить</button>
        </div>
    </div>
</form>