﻿@model Library.Models.AccoutViewModel.LoginViewModel
@{
    ViewData["Title"] = "Вход";
}

<h2>Вход в библиотеку</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"> </div>
    <div class="form-group">
        <label class="control-label" asp-for="Email"></label>
        <input class="form-control" style="width:400px" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label" asp-for="Password"></label>
        <input class="form-control" style="width:400px" asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="RememberPassword"></label>
        <input asp-for="RememberPassword" />
    </div>
    <div>
        <input class="btn btn-outline-primary" type="submit" value="Войти" /><br />
        <a asp-action="ForgotPassword" asp-controller="Account">Забыли пароль?</a>
    </div>
</form>
