﻿@{ 
    ViewData["Title"] = "Подтверждение регистрации";
}
<h1>Для завершения регистрации на указанную почту было выслано письмо</h1>
<a asp-action="BooksList" asp-controller="Catalog" class="btn btn-primary">На главную</a>