﻿@model Library.ViewModels.EditUserViewModel
@{ 
    ViewData["Title"] = "Редактирование пользователя";
}
<form asp-action="EditUser" asp-controller="Admin">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id"/>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="custom-control-label">Email</label>
   <input  type="text" asp-for="Email" class="form-control"/>
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-outline-secondary"/>
    </div>
</form>