﻿@model IEnumerable<Library.ViewModels.UsersListViewModel>

@{
    ViewData["Title"] = "Список пользователей";
}
<a class="btn btn-sm btn-primary" asp-action="AddUser">Добавить пользователя</a>
<table class="table">
    <tr><th>Email</th><th></th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserEmail</td>
            <td>
                <form asp-action="DeleteUser" asp-route-id="@user.UserId" method="post">
                    <a class="btn btn-sm btn-primary" asp-action="EditUser" asp-route-id="@user.UserId">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                </form>
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="EditUserRole" asp-controller="Roles" asp-route-userId="@user.UserId">Права доступа</a>
            </td>
        </tr>
    }
</table>